html {
    box-sizing: border-box;
}

/* sets variables for commonly used colors for easy adjustment later */
:root {
    --light-color: white;
    --shadow-color: #5C677D;
    --dark-color: black;
    --cool-color: #023E7D;
    --gray-color: #979DAC;
}

/* general styling for body and major headings */
body {
    font-size: 24px;
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: roboto, sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
}


/* styling for header and nav elements */
header {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav {
    margin: 40px 0;
}

nav ul li {
    display: inline-block;
}

/* the next three blocks set the link font color and add a hover effect */
nav a,
.my-projects h3,
.contact-link {
    color: var(--dark-color);
    padding: 0 15px;
}

nav a:visited,
.my-projects h3:visited,
.contact-link:visited {
    color: var(--dark-color);
}

nav a:hover,
.my-projects h3:hover,
.contact-link:hover {
    color: var(--light-color);
    background-color: var(--cool-color);
    border-radius: 10px;
    box-shadow: -2px 1px 15px -1px var(--shadow-color);
}

/* styling for the major content sections starts here */
.introduction {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.introduction img {
    margin-top: 30px;
    min-width: 200px;
    max-width: 35%;
    height: auto;
    border-radius: 10px;
    box-shadow: -2px 1px 15px -1px var(--shadow-color);
}


.introduction h1,
.introduction p {
    margin: 20px 20px 0 20px;
    text-align: center;
}

.introduction p {
    margin-bottom: 20px;
}

.introduction,
.about-me,
.my-projects {
    margin-bottom: 50px;
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: -2px 1px 15px -1px var(--shadow-color);
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me h2,
.about-me div {
    margin: 20px 20px 0px 20px;
}

.about-me div {
    margin-bottom: 20px;
}

.about-me p:first-child {
    margin-bottom: 20px;
}

.my-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.secondary-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-projects a {
    margin: 20px 0px 20px 0;
    min-width: 200px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.my-projects img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: -2px 1px 15px -1px var(--shadow-color);
}

.my-projects h3 {
    position: absolute;
    align-self: flex-end;
    bottom: 10px;
    background-color: var(--gray-color);
    border-radius: 10px 0 0 10px;
}

/* styling for the footer section */
footer {
    width: 100%;
}

.contact-section {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section h4 {
    margin-bottom: 20px;
    font-style: italic;
}

.contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-list li {
    margin: 10px;
}

.contact-list img {
    width: 75px;
    height: auto;
}

.contact-list li:last-child {
    padding-left: 10px;
}

.copyright-section {
    font-size: 16px;
    margin: 0 10px 10px 10px;
}

/* The media queries allow the website to be responsive for all screen sizes */
/* Turns nav bar into a column for smaller mobile devices */
@media(max-width: 374px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Adjusts project content for larger screens */
@media (min-width: 620px) {
    .secondary-projects {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .secondary-projects a {
        min-width: 285px;
        max-width: 42.5%;
    }
}

/* Adjusts contact section for larger screens  */
@media (min-width: 500px) {
    .contact-section {
        margin: 0 20px 30px 20px;
        border-bottom: 3px solid rgba(128, 128, 128, 0.507);
    }

    .contact-list {
        flex-direction: row;
    }
}