body {
    display: flex;
    flex-direction: column;
    font-family: gloria hallelujah;
    line-height: 1.5;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.nav-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    /* background-color: aliceblue; */
}

@media screen {
    
}

nav {
    width: 40%;
    /* background-color: aqua; */
}

nav ul {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly
}

nav ul li {
    padding: 15px;
}

.introduction {
    height: 30%;
    padding: 50px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid rgba(128, 128, 128, 0.507);
}

.my-name {
    font-size: 150%;
}

h1,
h2,
h3 {
    padding: 10px;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 3px solid black;
}

.main-section {
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.about-me {
    padding: 0 50px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}