html {
    box-sizing: border-box;
}

body {
    /* background-color: #979DAC; */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: gloria hallelujah;
    line-height: 1.5;
    background-image: url("./images/wood-paneling.png");
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

a:visited {
    color: black;
}

a:hover {
    color: #0353A4;
}

.nav-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    /* background-color: aliceblue; */
}

/* @media screen {} */

nav {
    width: 40%;
    /* background-color: aqua; */
}

nav ul {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly
}

nav ul li {
    padding: 15px;
    font-size: 125%;
    color: black;
    text-shadow: ;
}

.introduction {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 60vh;
}

.introduction,
.about-me,
.my-projects {
    background-color: rgba(245, 245, 245, 0.404);
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: -2px 1px 15px -1px #5C677D;

}

.introduction div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border-bottom: 5px solid #002855; */
}

.my-name {
    /* font-size: 150%; */
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
}

.introduction img {
    height: 300px;
    width: 300px;
    border: 5px solid antiquewhite;
    /* border-radius: 5px; */
    box-shadow: -2px 1px 15px -1px #5C677D;
    transform: rotateZ(-5deg);
}

.main-section {
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.about-me {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30vh;
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: -2px 1px 15px -1px #5C677D;
}

.my-projects {
    margin: 40px 0;
}

.project-one {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-projects ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.my-projects li {
    padding: 20px;
}

.my-projects h3 {
    position: absolute;
    align-self: flex-start;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer img {
    max-width: 25%;
    height: auto;
}

.contact-section {
    display: flex;
}

.contact-section ul {
    display: flex;
    justify-content: space-between;
}